<div class="container">

  <div class="hero-unit">
    <%if current_user%>
    <h2>Welcome, <%= "#{current_user.first_name}" %> </h2>
    <%end%>
    <img src="/card-only.png"/>



  </div><!-- .hero-unit -->

  <div class="row">

    <div class="span4">
      <h3>Question</h3>
      <%if @current_question %>
      <p>  Question: <%= @current_question %></p><br>
      <%end%> 
    </div>

    <div class="span4">
      <%if @current_answer %>
      <h3>Answer</h3>
      <p><%= @current_answer %></p>
      <%end%>

    </div>

    <div class="span4">
      
      <% if @current_answer %>
      
      <form method="post" name="input" action="/next_question">
        <input type="hidden" name="correctness" value="correct">
        <input type="submit" value="Correct">
      </form>
      <form method="post" name="input" action="/next_question">
        <input type="hidden" name="correctness" value="incorrect">
        <input type="submit" value="Incorrect">
      </form>
      <p>Correct: <%= @current_round.count_correct %> </p>
      <p>Incorrect: <%= @current_round.count_wrong %> </p>
      
      <% else %>

      <form method="post" name="input" action="/next_question">
        <input type="hidden" name="answer" value="answer">
        <input type="submit" value="View Answer">
      </form>

      <% end %>

    </div>


  </div><!-- .row -->
</div><!-- .container -->
