<div class="container">

  <div class="hero-unit">
    <%if current_user%>
    <h2>Welcome, <%= "#{current_user.first_name}" %> </h2>
    <%end%>
    <img src="/card-only.png"/>



  </div><!-- .hero-unit -->

  <div class="row">

    <div class="span4">
      <h3>Question</h3>
      <%if @current_question %>
      <p>  Question: <%= @current_question %></p><br>
      <%end%> 
    </div>

    <div class="span4">
      <%if @current_answer %>
      <h3>Answer</h3>
      <p><%= @current_answer %></p>
      <%end%>

    </div>

    <div class="span4">
      <%if @current_round  %>
      <form method="post" name="input" action="/show_answer">
        <input type="submit" value="View Answer">
      </form>
        <% if @current_answer %>
        <form action="/next_question" method="post">
          <input type="submit" value="Next Question">
        </form>
        <form method="post" name="input" action="/correct">
          <input type="submit" value="Correct">
        </form>
        <form method="post" name="input" action="/incorrect">
          <input type="submit" value="Incorrect">
        </form>
        <p>Correct: <%= @current_round.count_correct %> </p>
        <p>Incorrect: <%= @current_round.count_wrong %> </p>
        <% end %>
      <% else %>
      <form action="/play_deck" method="post">
        <input type="submit" value="Play Game">
      </form>
       <% end %>
    </div>


  </div><!-- .row -->
</div><!-- .container -->
