<div class="container">

  <div class="hero-unit">
    <img class "logo" src="/card-only.png"/>
    <%if current_user%>
    <h2>Welcome, <%= "#{current_user.first_name.capitalize}" %>! </h2>
    <%end%>
    <form method="post" action="/logout">
      <input type="submit" value="Log Out">
    </form>



  </div><!-- .hero-unit -->

  <div class="row">

    <div class="span4">
      <h3>High Scores here</h3>
      <% if @current_user_rounds %>
      <ul>
        <% @current_user_rounds.each do |round| %>
        <li>Round Number: <%= round.id %><br>
          Deck: <%= round.deck_id %><br>
          Correct: <%= round.count_correct %><br> 
          Incorrect: <%= round.count_wrong %> </li><br>
        <%end%>
      </ul>

     <%end%>

    </div>

    <div class="span4">

      <%@decks = Deck.all%>
      <%@decks.each do |deck|%>      
      <form method="post" name="input" action="/play_deck/<%=deck.id%>">
        <input type="submit" value="Play">
      </form>
      <%=deck.name%> <br>
      <%end%>
    </div>


  </div><!-- .row -->
</div><!-- .container -->
